html { overflow-y: scroll; }
body {
    font-family: sans-serif;
    margin: 0;
    padding: 1ex;
}
main  { display: block; }
table { border: 0; }
h1    {
    font-size: 140%;
    color: inherited;
    text-decoration: none;
}
table tr td {
    padding: 2px 10px 2px 0px;
}
#main {
    margin: 0px auto;
    max-width: 80ex;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #282c34;
        color: #bbc2cf;
    }
    a { color: #51afef; }
}
